@model List<Trip>
@{
    ViewData["Title"] = "My Trip Log";
}

<div class="row mx-5">
    <div class="text-center col-md-12">
        <a class="btn btn-info btn-block p-3 text-white font-weight-bolder shadow"
           asp-controller="Home" asp-action="Add">
            Add Trip
        </a>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered table-striped my-5">
    <thead>
        <tr><th>Destination</th><th>Start Date</th><th>End Date</th><th>Accommodations</th><th>Things To Do</th></tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                <td>@trip.Destination</td>
                <td>@trip.StartDate.ToShortDateString()</td>
                <td>@trip.EndDate.ToShortDateString()</td>
                <td>
                    @trip.Accommodation <br /> @trip.AccommodationPhone | @trip.AccommodationEmail
                </td>
                <td>
                    - @trip.ThingToDo1 <br /> - @trip.ThingToDo2 <br /> - @trip.ThingToDo3
                </td>
            </tr>
        }
    </tbody>
</table>